@font-face {
    font-family: 'inter-font';
    src: url('../../../assets/fonts/inter-font.ttf');
}

.page-consulta {
    display: flex;
    flex-direction: row;
    width: 100%;

    .icone-opcoes-adm-consulta{
        background-color: #084D6E;
    }

    .input-pesquisa-adm-consulta  {
        width: 70%;
        border: none;
        border-radius: 0.8rem;
        font-family: "inter-font";
        color: inherit;
        padding: 14px;
        background-color: white;
        font-size: 15px;
        box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        outline: none;
    }

    .elementos-consulta {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #fafafb;
        align-items: center;
        padding-left: 12.4em;
    }

    .elementos-pesquisa-consulta-adm {
        display: flex;
        justify-content: space-between;
        margin-top: 4em;
        width: 80%;
        align-items: center;
    }

    .cards-produto {
        display: flex;
        flex-direction: row;
        margin-top: 4em;
        justify-items: space-between;
        width: 80%;
        justify-content: space-between;
    }

    .area-cards-adm{
        width: 80%;
        display: flex;
        flex-wrap: wrap;

    }

    .Produtos-Info {
        height: auto;
        width: auto;
        margin-top: 2%;
        padding: 1rem;
    }
    
        .id-imagens {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-left: 0.2rem;
        }
    
        .espaco-produto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 400px;
            width: 230px;
            border-radius: .3em;
            border: 1px solid rgba(0, 0, 0, 0.13);
            box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: rgb(255, 255, 255);
        }
    
        button {
            border: none;
            cursor: pointer;
        }
    
        .ImagemProduto{
            width: 80%;
            height: 40%;
        }
    
        .Info-Nome_Marca_Modelo{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    
        .Preco-Produto{
            color: rgb(3, 202, 3);
        }
    
        .btn-buscar {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #6AA9E9;
            border-radius: 0.8rem;
            color: white;
            border: none;
            height: 40px;
            width: 10%;
        }

        .btn-buscar:hover {
            border: #6AA9E9 solid 2px;
            background-color: #fff;
            transform: scale(1.05);
            box-shadow: 0px 0px 40px #6AA9E9, 0px 0px -10px #6AA9E9;
            background-color: #fff;
            color: #000;
            transition: 0.3s;
        }

        .btn-buscar:active{
            transform: scale(0.99);
            transition: 0s;
        }

        .produto-total-adm{
            font-family: "inter-font";
            font-size: 14px;
            align-self: flex-end;
            color: #7d7d7e;
            font-weight: bold;
            margin-right: 2%;
        }

        .produto-total-adm-qtd{
            color: #000;
        }


        .quadrado-unidades {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 3px 3px 0px 0px;
            border: #007BF1 solid 1px;
            border-radius: 10px;
            width: 50px;
            height: 50px;
            color: #007BF1;
        }


        .quadrado-qtd-unidade {
            font-weight: 1000;
            font-family: "inter-font";
            font-size: 16px;


        }

        .quadrado-texto {
            font-weight: bold;
            font-family: "inter-font";
            font-size: 10px;


        }

}