@font-face {
    font-family: 'inter-font';
    src: url('../../../assets/fonts/inter-font.ttf');
}

@font-face {
    font-family: 'right-font';
    src: url('../../../assets/fonts/Righteous-Regular.ttf');
}

.page-favorito-usu {
    display: flex;
    flex-direction: row;
    width: auto;

        .bola1favorito{
            position: absolute;
            display: block;
            width: 300px;
            height: 550px;
            background-color: #007BF1;
            border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
            margin: 200px 0px 0px 3vw;
        }

        .bola2favorito{
            position: absolute;
            display: block;
            width: 20vw;
            height: 50vw;
            background-color: #007BF1;
            border-radius: 50% 50% 50% 50% / 50% 50% 50% 60%;
            margin: 200px 0px 0px 78vw;
        }

        .bola3favorito{
            position: absolute;
            display: block;
            width: 45vw;
            height: 40vw;
            background-color: #007BF1;
            border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
            margin: 800px 0px 0px 10vw;
        }

        .elementos-favorito-usu {
            display: flex;
            flex-direction: column;
            align-content:center;
            width: 100%;
            background-color: #f0f0f000;
            padding-left: 100px;
            z-index: 1;

        }

        .elemento-cabecalho-favorito{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .titulo-e-barra-de-itens-favoritos{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            width: 90%;
            

        }

        .titulo-e-coracao{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0px 10px 10px;
            font-weight: bolder;
            font-family: "inter-font";
            font-size: 25px;
            width: 150px;
        }

        .card-itens-do-favorito{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;
            height: max-content;
            padding: 20px;
            border-radius: 5px;
            border: 0.1px solid rgb(224, 224, 224);
            background-color: #fff;
            box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);


        }

        .itens-do-favorito{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: 95%;
            align-self: center;
            height: max-content;
            margin: 0px 10px;
            
        }

        .imagem-produto-no-carrinho{
            width: 10%;
            height: auto;
        }

        .item-nome-e-detalhes{
            display: flex;
            flex-direction: column;
            width: 60%;

        }

        .nome-produto-carrinho{
            font-family: 'inter-font';
            font-size: 21px;
            color: #808080;
            
        }

        .descricao-produto-carrinho{
            font-family: 'inter-font';
            font-size: 18px;
            color: #000;
            font-weight: bold;
        }

        .linha-azul-carrinho{
            color: #C0FBFF;
            margin: 5px;
        }

        .component-item-carrinho {
            background-color: bisque;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        
        .itens-carrinho{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
        
            padding: 20px;
        
            width: 100%;
            align-self: center;
            height: 120px;
            margin: 0px 0px;
            border-bottom: rgba(3, 240, 255, 0.25) solid 2px;
            border-bottom-width: 5%;
        }
        
        .imagem-produto-no-carrinho{
            width: auto;
            height: 100%;
        }
        
        .item-nome-e-detalhes-e-preco{
            display: flex;
            flex-direction: row;
            width: 85%;
        
            justify-content: space-between;
            align-items: center;
        
        }

        .corDiferente{
            color: #838383;
        }
        
        .botao-e-lixo{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 15%;
        
        
        }
        
        .botao-comprar-favorito{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            font-size: 15px;
            color: #fff;
            align-items: center;
            background-color: #318CE7;
            border-style: none;
            width: 150px;
            height: 40px;
            border-radius: 5px;
        }
        
        .botao-comprar-favorito:hover{
            background-color: #fff;
            color: #318CE7;
            border: #318CE7 solid 2px;
            transition: 0.1s;
            cursor: pointer;
            .imagem-carrinho{
            filter: invert(100%);
        }}
        
        .comprar-e-config-img{
            display: flex;
            flex-direction: row;
            
            align-items: center;
        }
        
        .lixo-favorito{
            height: auto;
            width: 20%;
        }
        
        .sobre-produto-favorito{
            display: flex;
            flex-direction: column;
            width: 30%;
        
        }
        
        .nome-produto-carrinho{
            font-family: 'inter-font';
            font-size: 21px;
            color: #808080;
            
        }
        
        .descricao-produto-carrinho{
            font-family: 'inter-font';
            font-size: 18px;
            color: #000;
            font-weight: bold;
        }
        
        .linha-azul-carrinho{
            color: #C0FBFF;
            margin: 5px;
        }
        



        
    }

    .aba-lateral-usu {
        position: fixed;
        z-index: 2;
    }

    .cabecalho-usuario{
        width: 100%;
    }
