.main{
    display: flex;
    flex-direction: column;
    background-color: #fafafb;
    padding-bottom: 50px;
    padding-left: 40px;
}
.cadastro{
    display: flex;
    align-items: center;
    padding-left: 65px;
    margin-bottom: -15px;
}
.card{
    display: flex;
    flex-direction: row;
}
.dados-1{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding-top: 25px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 65px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    padding-top: 50px;
}
.dados-2{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding-top: 25px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 65px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 10px;
    padding-top: 50px;
} 
.botao1{
    background-color: #55F27F;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 0px;
    color: #fff;
    margin-left: 612px;
    margin-top: -30px;
}
.botao2{
    background-color: #55F27F;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 0px;
    color: #fff;
    margin-left: 612px;
    margin-top: -800px;
}

.titulo-caixa-de-texto{
    font-family: Arial;
    color:#7d7d7d;
    font-size: 10px;
    font-weight: bold;
    background-color: #ffffff;
    width:auto;
    padding: 0px 0.1%;
    margin: -6px 0px 45px 1%;
    position: absolute;
    padding-bottom: 25px;
}
.caixa-de-texto{
    height: 40px;
    border-radius: 10px;
    border-style: none;
    border: #7d7d7d solid 2px;
    padding: 0px 0px;
    padding-bottom: 50px;
    padding-top: ;
}
.caixa-de-texto-div-1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 45px;; 
    padding-bottom: 50px;
    width: 100%;
}
.caixa-de-texto-div-1-pequena{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 45px;; 

    width: 75%;
}
.caixa-de-texto-div-1-menor{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 45px;; 
    
    width: 20%;
}
.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 55px;
    justify-content: space-between;

}