

    .pagina-principal {
        display:flex;
        flex-direction: row;
        width: 100vw;
    }
    
    .aba-lateral {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 10vw;

        background-color: #55F27F;
        height: 100vh;
       
    }
    
    .opcoes {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50vh;

        margin-top: 20vh;

        border: red solid 1px;
    }
    
    .icone-opcoes{
        display:flex;
        flex-direction: row;

        border: rgb(68, 0, 255) solid 1px;
    }

    .icone-opcoes:hover{
        background-color: #0000ff;
    }
    
    .nome-icones{
        font-size: 35;
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
    
    }

    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;

        height: 80px;
        width: 90vw;
        background-color: #61655f;
    }

    .nome-usuario{
        font-family: Arial;
        font-size: 20px;

    }
    
    .negrito-nome-usuario{
        font-weight: bold;
    }

    .inicial-nome-usuario{
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        margin-right: 20px;
        background-color: #55F27F;
        padding: 11px 15px;
        border-radius: 30px;
    }

    .container-do-cadastro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        background-color: #f1f1f1;
        border: #ff00ff solid 1px;
    }
    
    .parte-cadastro{
        flex-direction: column;
        border-radius: 20px;
        background-color: #ffffff;
        width: 80%;
        height: 90%;
        border: #0000ff solid 1px;
    }

    .titulo-cadastrar{
        display: flex;
        flex-direction: row;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        margin: 20px 0px 0px 40px;
        border:rgb(68, 0, 255) solid 1px;
    }
    .img-ret{
        height: 40px;
    }

    .formulario-div-1{
        width: 40%;
        border: #0000ff solid 1px;
       
    }

    .caixa-de-texto-div-1{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        margin: 20px 0px;
        height: 50px;
        border: #ff00ff solid 1px;

    }
    
    .titulo-caixa-de-texto{
        font-family: Arial;
        color:#7d7d7d;
        font-size: 12px;
        background-color: #ffffff;
        width:auto;
        padding: 0px 3px;
        margin: 0px 0px 32px 30px;
        position: absolute;    
    }

    .caixa-de-texto{
        height: 35px;
        border-radius: 10px;
        border-style: none;
        border: #7d7d7d solid 2px;
        
    }

    .caixa-de-texto:focus{
        outline-width: 0px;
    }

    .container-formulario{
        display: flex;
        flex-direction: row;
        border: #0000ff solid 1px;
        justify-content: space-around;
    }