.aba-lateral {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;

    background-color: #55F27F;
    height: 100vh;
    position: fixed;


.opcoes {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;

    margin-top: 20vh;
}

a {
    width: 100%;
}

.icone-opcoes-adm-home{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    text-decoration: none;
}

.icone-opcoes-adm-consulta{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    text-decoration: none;
}

.icone-opcoes-adm-cadastro{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    text-decoration: none;
}

.icone-opcoes-adm-pedidos{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    text-decoration: none;
}

.icone-opcoes{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    text-decoration: none;
}

.img-icone{
    margin-left: 10%;
}

.img-icone-doc{
    margin-left: 10%;
    width: 15%;
}

.icone-opcoes-adm-home:hover{
    background-color: #084D6E;
}

.icone-opcoes-adm-consulta:hover{
    background-color: #084D6E;
}

.icone-opcoes-adm-cadastro:hover{
    background-color: #084D6E;
}

.icone-opcoes-adm-pedidos:hover{
    background-color: #084D6E;
}

.icone-opcoes:hover{
    background-color: #084D6E;
}

.nome-icones{
    font-size: 18px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
}


}