@font-face {
    font-family: 'inter-font';
    src: url('../../../assets/fonts/inter-font.ttf');
}


.principal-rodape-usu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    background-color: #318CE7;
    width: 100%;
    height: 30vh;

    .departamentos-div{
        display: flex;
        flex-direction: column;
    }

    .titulos-divs-rodape{
        font-family: "inter-font";
        font-size: 25px;
        font-weight: bolder;
        color: #fff;

    }

    .div-colunas-departamentos{
        display: flex;
        flex-direction: row;
    }

    .mini-descricao-rodape{
        font-family: "inter-font";
        font-size: 15px;
        color: #fff;
    }

    .coluna-mini-descricao-rodape{

    }
}