.main-rodape-usu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #318CE7;
    color: #ffffff;
    width: 100%;
    height: max-content;
    padding: 2vh 1vw;
    z-index: 3;
    padding-bottom:10vh;
    padding-left: 50px;



}


    .primeira-coluna{
    display: flex;
    flex-direction: column;
    width: 24%;
    }


    .descricao-colunas-rodape-usu{
        padding-bottom: 15px;
        cursor: pointer;

    }

    .descricao-colunas-rodape-usu-diferentao{
        padding-bottom: 15px;


    }


    .descricao-colunas-rodape-usu:hover{
        text-decoration: underline;

    }


    .primeira-parte{

        column-count: 2;

    }
    .coluna1{
    display: flex;
    flex-direction: column;

    }
    .coluna2{
    display: flex;
    flex-direction:column;

    }
    .segunda-coluna{
    width: 24%;
    padding-right: 5px;
    }
    .terceira-coluna{
    width:24%;
    cursor: wait;

    }
    .quarta-coluna{
        width:24%;

    }

    .titulo-colunas-rodape-usu{
        font-size: 2.2vw;
    }

    .descricao-colunas-rodape-usu{
        font-size: 1.2vw;
    }

    .titulo-colunas-rodape-usu-diferentao{
        font-size: 2.2vw;
    }

    .descricao-colunas-rodape-usu-diferentao{
        font-size: 1.2vw;
    }


    .redes-rodape-usu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }

    .bolinha-midias-sociais{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.3);
        width: 3vw;
        height: 3vw;
        border-radius: 100%;
        cursor: pointer;

    }


    .parte-minha-conta{
        margin-top: 5%;
    }



    .titulo-colunas-rodape-usu{
        padding-bottom: 20px;

    }

    .rodape-icn-redes{
        width: 50%;
    }

    .rodape-icn-redes-fb{
        width: 30%;
    }


    .parte-fale-conosco{
        margin-top: 5%;

    }