body {
    font-family: arial;
    background-color: darkseagreen ;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px solid red   
}

.page-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7%;
    margin-left: 23%;
}

.img-guitarra {
    height: 25em; 
    
    border-radius: 1em 0em 0em 1em;
}

.login-adm {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 1em;

    height: 25em;
    
    background-color: aliceblue;
    border-radius: 0em 1em 1em 0em;
}

.informacoes-login {
    width: 27em;
}

.informacoes-email {
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
    position: relative;
}

.informacoes-senha {
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
    position: relative;
}

.input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: black;
    background-color: transparent;
    outline: 2px solid black;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10ox);
    transition: transform .25s;
}

.input:focus+ .input-label,
.input:valid+ .input-label {
    transform: translate(10px, -14px) scale(.8);
    color: aqua;
    padding-inline: 5px;
    background-color: aliceblue;
}

.input:is(:focus, :valid) {
    outline-color: aqua;
}

.btn-login {
    color: black;

    margin-top: 5em;
}