.itens-carrinho{ 
    .component-item-carrinho {
        background-color: bisque;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .imagem-produto-no-carrinho{
        max-height: 150%;
        width: 10%;
        height: auto;
    }
}