* {
    text-decoration: none;
    
}



@font-face {
    font-family: 'inter-font';
    src: url('../../../assets/fonts/inter-font.ttf');
}

.imagem-aba-usu{
    height: 40px;
    width: 40px;
    opacity: 0.5;
}

.imagem-aba-usu:hover{
    opacity: 1;
}

.aba-lateral-usu {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    

    background-color: #fff;
    border: 0.1px solid rgb(214, 214, 214);
    height: 100vh;

.opcoes-usu {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;

    margin-top: 20vh;
}

.icone-opcoes-usu{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:8vh;
}


.nome-icones{
    font-size: 15px;
    color: #084D6E;
    font-family: Arial, Helvetica, sans-;
    cursor: pointer;
}

.nome-icones:hover{
    transform: scale(1.05);
    transition: 0.2s;
    color: #00aeff;
}

.botao-sair-aba-usu{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #888888;
    transition: 0.2s;

}

.botao-sair-aba-usu:hover{
    background-color: #084D6E;
    color: #fff;
    transition: 0.2s;
    .img-botao-sair-aba-usu{
        filter: invert(0);
        rotate: 180deg;
        transition: 0.3s;
    }
}

.img-botao-sair-aba-usu{
    filter: invert(0.5);
    transition: 0.3s;
}
}