@font-face {
    font-family: 'inter-font';
    src: url('../../../assets/fonts/inter-font.ttf');
}

@font-face {
    font-family: 'right-font';
    src: url('../../../assets/fonts/Righteous-Regular.ttf');
}


.page-pagamento-usu {
    display: flex;
    flex-direction: row;
    width: auto;
    height: max-content;

    .botao-novo-endereco-pgt{
        background-color: #55F27F;
        border-style: none;
        width: 15vw;
        height: 3.5vw;
        margin-top: 3vh;
        border-radius: 0.5vw;
        color: #fff;
        font-family: 'right-font';
        font-size: 1.2vw;
        cursor: pointer;
        transition: 0.3s;
    }

    .botao-novo-endereco-pgt:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 40px #55F27F, 0px 0px 10px rgba(255, 255, 255, 1);
        border:#55F27F solid 3px;
        background-color: #fff;
        color: #000;
        transition: 0.3s;
    }

    .botao-finalizar-pgt{
        background-color: #55F27F;
        border-style: none;
        width: 15vw;
        height: 3.5vw;
        margin-top: 3vh;
        border-radius: 0.5vw;
        color: #fff;
        font-family: 'right-font';
        font-size: 1.2vw;
        cursor: pointer;
        transition: 0.3s;
    }

    .botao-finalizar-pgt:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 40px #55F27F, 0px 0px 10px rgba(255, 255, 255, 1);
        border:#55F27F solid 3px;
        background-color: #fff;
        color: #000;
        transition: 0.3s;
    }
    

        .bola1Pagamento{
            position: absolute;
            display: block;
            width: 300px;
            height: 550px;
            background-color: #007BF1;
            border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
            margin: 100px 0px 0px 3vw;
        }

        .bola2Pagamento{
            position: absolute;
            display: block;
            width: 10vw;
            height: 50vw;
            background-color: #007BF1;
            border-radius: 400% 0px 0px 500% / 50% 0% 0% 60%;
            margin: 200px 0px 0px 88vw;
        }

        .bola3Pagamento{
            position: absolute;
            display: block;
            width: 45vw;
            height: 70vh;
            background-color: #007BF1;
            border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
            margin: 50% 0px 0px 10vw;
        }

        .elementos-pagamento-usu {
            display: flex;
            flex-direction: column;
            align-content:center;
            width: 100%;
            background-color: #f0f0f000;
            padding-left: 100px;
            z-index: 1;
        }

        .elemento-cabecalho-carrinho{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
        }

        .procedimentos-pagamento-formatacao{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            
            width: 100%;
            height: auto;
            
            
        }

        .procedimentos-pagamento{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            width: 70%;
            height: auto;
            
            
        }

        .Circulo-pagamento-porcento1{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            
            width: 80px;
            height: 80px;
            background-color: #d9d9d9;
            
        }

        .percentual-bolinha-carrinho{
            font-size:14px;
            color: #084D6E;
            font-family: "inter-font";
        }

        .Circulo-pagamento-porcento3{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            background-color: #ffffff;
            border-radius: 100%;
            z-index: 2;
            padding-bottom: 4px;
        }

        .Circulo-pagamento-porcento2{
            width: 40px;
            height: 40px;
            background-color: #084D6E;
            margin-left: 40px;
            margin-bottom: 40px;

            position: absolute;

            border-top-right-radius: 150px;
        }


        .Circulo-pagamento-porcento2e2{
            width: 0px;
            height: 0px;
            border-right: 40px solid transparent;
            border-top: 40px solid #084D6E;
            border-left: 40px solid #084D6E;
            border-bottom: 40px solid #084D6E;
            border-top-left-radius: 60px;
            border-top-right-radius: 60px;
            border-bottom-left-radius: 60px;
            border-bottom-right-radius: 60px;
            position: absolute;
            rotate: 243deg;
        }

        .Circulo-pagamento-porcento2e3{
            width: 0px;
            height: 0px;
            border-right: 40px solid transparent;
            border-top: 40px solid #084D6E;
            border-left: 40px solid #084D6E;
            border-bottom: 40px solid #084D6E;
            border-top-left-radius: 60px;
            border-top-right-radius: 60px;
            border-bottom-left-radius: 60px;
            border-bottom-right-radius: 60px;
            position: absolute;
            rotate: 225deg;
        }


        .setinha-procedimento{
            height: 2vw;
        }

        .icones-procedimento{
            height: 3vw;
        }

        .icones-procedimento-trans{
            height: 3vw;
            opacity: 50%;
        }
        
        .div-elementos-pagamento{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: 100%;
            height: max-content;

            padding: 20px;

        }

        // .titulo-informacoes-pedido{

        // }


        .enderecos {
            display: flex;
            flex-direction: row;
            margin-top: 3em;
        }

        .card-endereco {
            background-color: #fbfbfb;
            padding: 2em;
            margin: 0.5rem;
        }


        .div-endereco-pagamento{
            display: flex;
            flex-direction: column;
            width: 100%;
            
            padding: 20px;    
            background-color: #fff;
            border-radius: 10px;
            border: 0.1px solid rgb(202, 202, 202);
            box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

        .itens-carrinho{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 95%;
            align-self: center;
            height: 100px;
            margin: 0px 10px;

        }

        .imagem-produto-no-carrinho{
            width: 10%;
            height: auto;
        }

        .item-nome-e-detalhes{
            display: flex;
            flex-direction: column;
            width: 60%;

        }

        .nome-produto-carrinho{
            font-family: 'inter-font';
            font-size: 21px;
            color: #808080;
            
        }

        .descricao-produto-carrinho{
            font-family: 'inter-font';
            font-size: 18px;
            color: #000;
            font-weight: bold;
        }

        .linha-azul-carrinho{
            color: #C0FBFF;
            margin: 5px;
        }

        .card-resumo{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 400px;
            
            
            width: 22.5%;
            background-color: #fff;
            border-radius:10px;
            padding: 20px;
            box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .titulo-resumo-carrinho{
            display: flex;
            flex-direction: row;
        }
        
        .tit-resumo{
            color:#404040;
            font-family: 'inter-font';
        }

        .valor-total-div{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .linha-abaixo-de-valor-carrinho{
            width: 100%;
        }
        
        .valor-total-carrinho{
            font-family: 'inter-font';
            color: #a3a3a3;
        }

        .valor-mostrado-carrinho{
            font-family: 'inter-font';
            color: #000;
            
        }

        .botao-comprar-carrinho{
            font-family: 'right-font';
            font-size: 1.1vw;
            color: #fff;
            border-style: none;
            border-radius:10px;
            padding: 3rem;
            background-color: #007BF1;
            height: 50px;
            margin: 5px;
            cursor: pointer;
            width: 100%;
        }

        .botao-comprando-carrinho{
            font-family: 'right-font';
            font-size: 1.1vw;
            color: #fff;
            border-style: none;
            border-radius:10px;
            background-color: #55F27F;
            height: 50px;
            margin: 5px;
            width: 100%;
            cursor: pointer;
        }

        .efetuar-compra{
            font-size: 90%;
            
        }

        .continuar-comprando{
            font-size: 90%;
        }

        .div-botoes{
            height: 120px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .div-forma-de-pagamento{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            width: 100%;
            background-color: #fff;
            border-radius:10px;
            border: 0.1px solid rgb(202, 202, 202);
            padding: 20px;
            margin: 10px 0px;
            box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .titulo-forma-de-pagamento{
            align-self: flex-start;
        }

        .informacoes-forma-de-pagamento{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .formatacao-input-informacao-cartao{
            display: flex;
            flex-direction: column;
            justify-content:center;
            margin: 15px 0px;
            height: 45px;
            padding: 0px 5px;
            width: 100%;
        }

        .titulo-input-pagamento{
            font-family: Arial;
            color:#7d7d7d;
            font-size: 15px;
            font-weight: bold;
            background-color: #ffffff;
            width:auto;
            padding: 0px 0.1%;
            margin: 0px 0px 45px 2%;
            position: absolute;
            width: auto;   
        }

        .input-pagamento{
            height: 40px;
            width: 100%;
            border-radius: 10px;
            border-style: none;
            border: #7d7d7d solid 2px;
            padding: 0px 10px;
            
        }

        .formatacao-input-informacao-cartao-pequeno{
            display: flex;
            flex-direction: row;
        }

        .informacoes-cartao{
            display: flex;
            flex-direction: column;
            width: 47%;
        }

        .informacoes-pagamento{
            display: flex;
            flex-direction: column;
            width: 47%;
            
        }

        .imgpedido{
            width: 25%;
        }

        .tabela-pedidos-adm{
            width: 70%;
            margin-bottom: 3rem;
        }
        
        .titulo-cabecalho-tabela-id{
            width: 20%;
        }
        
        .titulo-cabecalho-tabela-usuario{
            width: 30%;
        }
        
        .titulo-cabecalho-tabela-cpf{
            width: 20%;
        }
        
        .titulo-cabecalho-tabela-status{
            width: 10%;
        }
        
        .titulo-cabecalho-tabela-data{
            width: 20%;
        }
        
        .linha-cabecalho-tabela-id{
            width: 20%;
        }
        
        .linha-cabecalho-tabela-usuario{
            width: 30%;
        }
        
        .linha-cabecalho-tabela-cpf{
            width: 20%;
        }
        
        .linha-cabecalho-tabela-status{
            width: 10%;
        }
        
        .linha-cabecalho-tabela-data{
            width: 20%;
        }
        
        
        .cabecalho-tabela-pedido {
            background-color: #55F27F;
            text-align: center;
            color: white;
            height: 40px;
        }
        
        .linha-titulos-cabecalho-tabela{
            font-family: "inter-font";
            font-size: 1.2vw;
            width: 100%;
        }
        
        .linha-descricao-cabecalho-tabela{
            font-family: "inter-font";
            font-size: 1.2vw;
            width: 100%;
        }
        
        tbody {
            text-align: center;
        }
        
         td  {
            border-bottom: 1px solid #dddd;
            background-color: #fdfdfd;
            height: 40px;
        }
        
        tr:nth-child(even) {
            background-color: #dbdbdb;
            height: 40px;
        }


        
        
        table, th, td {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9;
        
        }

    }

    .aba-lateral-usu {
        position: fixed;
        z-index: 2;
    }

    .cabecalho-usuario{
        width: 100%;
    }

    .principal-rodape-usu{
        justify-self: flex-end;
        align-self: flex-end;
    }
