

.pageHome {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-left: 12.7;
    
    .icone-opcoes-adm-home{
    background-color: #084D6E;
    }
}

.cabecalho {
    padding: 0%;
    padding-left: 1em;
}

.elementos-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FAFAFB;
    align-items: center;
    padding-left: 12.4em;
    height: 100vh;
}

.espaco-branco {
    width: 100%;
    height: 90Vh;

    background-image: url(../../../../public/image/fundoLogo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30%;
    background-color: #FAFAFB;

}


.aba-lateral {
    height: 100vh;
}

