.pagina-principal {
    display:flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;


    .container-do-cadastro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        background-color: #f1f1f1;
        padding-left: 12.4em;
    }

    .parte-cadastro{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: #ffffff;
        justify-content: center;
        width: 80%;
        height: 85vh;
        box-shadow: 5px 5px #888888;
        margin-top:2%;
        padding: 1%;
    }
    
    .titulo-cadastrar{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: Arial;
        font-weight: bold;
        font-size: 2.5vmin;
        margin: 20px 0px 0px 20px;
    }

    .imagem-retangulo{
        height: 30px;
    }

    .formulario-div-1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        width: 40%;  
    }

    .caixa-de-texto-div-1{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        margin: 15px 0px;
        height: 45px;
    }
    
    .titulo-caixa-de-texto{
        font-family: Arial;
        color:#7d7d7d;
        font-size: 2vmin;
        background-color: #ffffff;
        width:auto;
        padding: 0px 0.1%;
        margin: 0px 0px 4vh 1%;
        position: absolute;    
    }

    .caixa-de-texto{
        height: 5vh;
        border-radius: 10px;
        border-style: none;
        border: #7d7d7d solid 2px;
        
    }
    
    .caixa-de-texto:focus{
        outline-width: 0px;
    }


    .caixa-de-texto-grande-div-1{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        margin: 0px 0px;
        height: 70px;
    }

    .caixa-de-texto-grande{
        height: 10vh;
        border-radius: 10px;
        border-style: none;
        border: #7d7d7d solid 2px;
        resize: none; 
    }

    .titulo-caixa-de-texto-grande{
        font-family: Arial;
        color:#7d7d7d;
        font-size: 2vmin;
        background-color: #ffffff;
        width:auto;
        padding: 0px 3px;
        margin: 0px 0px 7vh 1%;
        position: absolute; 
    }

    .container-formulario{
        display: flex;
        flex-direction: row;
        height: 70vh;
        justify-content: space-around;
    }


    .container-divs-menores{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.caixa-de-texto-pequena{
    height: 5vh;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    border: #7d7d7d solid 2px;
    
}

.formulario-div-2{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

.caixa-add-imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #7d7d7d solid 2px;
    border-radius: 10px;
    width: 16vw;
    height: 16vw;
}

.caixa-add-imagem-menor{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #7d7d7d solid 2px;
    border-radius: 10%;
    width: 6vw;
    height: 6vw;
}

.editar-imagem{
    width: 100%;
    height:100%;
    border-radius: 5%;
}

.editar-imagem-menor{
    width: 102%;
    height:102%;
    border-radius: 10%;
}

.container-dos-botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.botao-salvar{
    background-color: #55f27f;
    border-style: none;
    width: 30%;
    height: 35px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.botao-novo{
    background-color: #318ce7;
    border-style: none;
    width: 30%;
    height: 35px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}}