.pagina-principal {
    display:flex;
    flex-direction: row;
    width: 100vw;

    .container-do-cadastro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 85vh;
        width: 85vw;
        background-color: #f1f1f1;
    }
    
    .parte-cadastro{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: #ffffff;
        justify-content: center;
        width: 80%;
        height: auto;
    }

    .titulo-cadastrar{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        margin: 20px 0px 0px 20px;
    }
    .imagem-retangulo{
        height: 30px;
    }

    .formulario-div-1{
        width: 40%;  
    }

    .caixa-de-texto-div-1{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        margin: 15px 0px;
        height: 45px;
    }
    
    .titulo-caixa-de-texto{
        font-family: Arial;
        color:#7d7d7d;
        font-size: 12px;
        background-color: #ffffff;
        width:auto;
        padding: 0px 3px;
        margin: 0px 0px 31px 30px;
        position: absolute;    
    }

    .caixa-de-texto{
        height: 40px;
        border-radius: 10px;
        border-style: none;
        border: #7d7d7d solid 2px;
        
    }
    
    .caixa-de-texto:focus{
        outline-width: 0px;
    }


    .caixa-de-texto-grande-div-1{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        margin: 0px 0px;
        height: 90px;
    }

    .caixa-de-texto-grande{
        height: 80px;
        border-radius: 10px;
        border-style: none;
        border: #7d7d7d solid 2px;
        
    }

    .titulo-caixa-de-texto-grande{
        font-family: Arial;
        color:#7d7d7d;
        font-size: 12px;
        background-color: #ffffff;
        width:auto;
        padding: 0px 3px;
        margin: 0px 0px 72px 30px;
        position: absolute;    
    }

    .container-formulario{
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: space-around;
    }


.container-divs-menores{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.caixa-de-texto-pequena{
    height: 35px;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    border: #7d7d7d solid 2px;
    
}

.formulario-div-2{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

.caixa-add-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #7d7d7d solid 2px;
    border-radius: 10px;
    width: 15vw;
    height: 15vw;
}

.caixa-add-imagem-menor{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #7d7d7d solid 2px;
    border-radius: 10px;
    width: 10vw;
    height: 10vw;
}

.editar-imagem{
    height: 10vw;
    width: 10vw;
}

.editar-imagem-menor{
    height: 5vw;
    width: 5vw;
}

.container-dos-botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.botao-salvar{
    background-color: #55f27f;
    border-style: none;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
}

.botao-novo{
    background-color: #318ce7;
    border-style: none;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
}

}