@font-face {
    font-family: 'inter-font';
    src: url('../../../assets/fonts/inter-font.ttf');
}

@font-face {
    font-family: 'right-font';
    src: url('../../../assets/fonts/Righteous-Regular.ttf');
}
.pagina-principal {
    display:flex;
    flex-direction: row;
    width: 100%;
    height:auto;
    overflow-x: hidden;
    overflow-y: hidden;
    

    .icone-opcoes-adm-cadastro{
        background-color: #084D6E;
    }

    .container-do-cadastro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        background-color: #fafafb;
        padding-left: 12.4em;
    }

    .parte-cadastro{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: #ffffff;
        justify-content: center;
        width: 80%;
        height: 650px;
        box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top:2%;
        padding: 1%;
        margin-bottom: 5%;
    }
    
    .titulo-cadastrar{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: Arial;
        font-weight: bold;
        font-size: 18px;
        margin: 20px 0px 0px 20px;
    }

    .imagem-retangulo{
        height: 30px;
    }

    .titulo-cadastrar-e-alterar{
        margin-left: 10px;
    }

    .formulario-div-1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        width: 40%;  
    }

    .caixa-de-texto-div-1{
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin: 15px 0px;
        height: 45px;
        padding: 0px 5px;
    }
    
    .titulo-caixa-de-texto{
        font-family: Arial;
        color:#7d7d7d;
        font-size: 10px;
        font-weight: bold;
        background-color: #ffffff;
        width:auto;
        padding: 0px 0.1%;
        margin: 0px 0px 40px 1%;
        position: absolute;    
    }

    .titulo-caixa-de-texto-pequena{
        font-family: Arial;
        color:#7d7d7d;
        font-size: 10px;
        font-weight: bold;
        background-color: #ffffff;
        width:auto;
        padding: 0px 0.1%;
        margin: 0px 0px 40px 1%;
        position: absolute;    
    }

    .caixa-de-texto{
        height: 40px;
        border-radius: 10px;
        border-style: none;
        border: #7d7d7d solid 2px;
        padding: 0px 10px;
        
    }
    
    .caixa-de-texto:focus{
        outline-width: 0px;
    }


    .caixa-de-texto-grande-div-1{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        margin: 0px 0px;
        height: 160px;
        padding: 0px 5px;
    }

    .caixa-de-texto-grande{
        height: 150px;
        border-radius: 10px;
        border-style: none;
        border: #7d7d7d solid 2px;
        resize: none;
        padding: 10px 10px;
        font-family: "inter-font";
        font-size: 12px;
    }

    .caixa-de-texto-grande:focus{
        outline-width: 0px;
    }

    .titulo-caixa-de-texto-grande{
        font-family: Arial;
        color:#7d7d7d;
        font-size: 10px;
        font-weight: bold;
        background-color: #ffffff;
        width:auto;
        padding: 0px 3px;
        margin: 0px 0px 145px 1%;
        position: absolute; 
    }

    .container-formulario{
        display: flex;
        flex-direction: row;
        height: 90%;
        justify-content: space-around;
    }


    .container-divs-menores{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.caixa-de-texto-pequena{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    border: #7d7d7d solid 2px;
    padding: 0px 10px;
}

.caixa-de-texto-pequena:focus{
    outline-width: 0px;
}

.formulario-div-2{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}

.parte-das-imagens{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65%
}

.caixa-add-imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #7d7d7d solid 2px;
    border-radius: 13px;
    width: 16vw;
    height: 16vw;
}

.caixa-add-imagem-menor{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #7d7d7d solid 2px;
    border-radius: 10%;
    width: 6vw;
    height: 6vw;
}

.editar-imagem{
    width: 100%;
    height:100%;
    border-radius: 5%;
}

.editar-imagem-menor{
    width: 102%;
    height:102%;
    border-radius: 10%;
}

.botao-de-add-img{
    height: 0%;
    width: 0%;
}

.container-dos-botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.botao-salvar{
    background-color: #55f27f;
    border-style: none;
    width: 35%;
    height: 40px;
    font-family: 'right-font';
    font-size: 15px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    
}

.botao-novo{
    background-color: #318ce7;
    border-style: none;
    width: 35%;
    height: 40px;
    font-family: "right-font";
    font-size: 15px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

@media (min-width:100px) and (max-width:1000px){
    .parte-cadastro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 80%;
        height: 1050px;
    }
    
    
    .container-formulario{
        display: flex;
        flex-direction: column;
        height: 90%;
        justify-content: space-around;
    }


}}