@font-face {
    font-family: 'inter-font';
    src: url('../../../assets/fonts/inter-font.ttf');
}

.pagePedidos {
    display: flex;
    flex-direction: row;
    width: 100vw;
    

    .icone-opcoes-adm-pedidos{
        background-color: #084D6E;
    }
}

.cabecalho {
    padding: 0%;
    padding-left: 1em;
}

.elemento-pedidos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-left: 12.4em;

    align-items: center;


    background-color: #f0f0f0;
}

.elementos-pesquisa {
    display: flex;
    margin-top: 4em;
    width: 70%;
    justify-content: space-between;
}

.barra-de-pesquisa{
    display: flex;
    width: 90%;
    height: 45px; 
}

.botao-barra-busca-adm{
    height: 45px;
    border-style: none;
    background-color: #fff;
    border-radius: 0px 0.8em 0.8em 0px;
    padding-right: 10px;
}

.input-pesquisa  {
    flex-wrap: nowrap;
    width: 83%;
    border: none;
    border-radius: 0.8rem 0px 0px 0.8em;
    font-family: inherit;
    color: inherit;
    padding: 14px;
    background-color: white;
    font-size: 15px;
}

.input-pesquisa:focus  {
    outline: none;
}

.btn-buscar {
    padding: 10px 30px 10px 30px;
    background-color: #6AA9E9;
    border-radius: 0.8rem;
    color: white;
    border: none;
}

.div-table {
    margin-top: 4em;
    width: 90%;
}

.tabela-pedidos-adm{
    width: 100%;
}

.titulo-cabecalho-tabela-id{
    width: 20%;
}

.titulo-cabecalho-tabela-usuario{
    width: 30%;
}

.titulo-cabecalho-tabela-cpf{
    width: 20%;
}

.titulo-cabecalho-tabela-status{
    width: 10%;
}

.titulo-cabecalho-tabela-data{
    width: 20%;
}

.linha-cabecalho-tabela-id{
    width: 20%;
}

.linha-cabecalho-tabela-usuario{
    width: 30%;
}

.linha-cabecalho-tabela-cpf{
    width: 20%;
}

.linha-cabecalho-tabela-status{
    width: 10%;
}

.linha-cabecalho-tabela-data{
    width: 20%;
}


.cabecalho-tabela-pedido {
    background-color: #55F27F;
    text-align: center;
    color: white;
    height: 40px;
}

.linha-titulos-cabecalho-tabela{
    font-family: "inter-font";
    font-size: 1.2vw;
    width: 100%;
}

.linha-descricao-cabecalho-tabela{
    font-family: "inter-font";
    font-size: 1.2vw;
    width: 100%;
}

tbody {
    text-align: center;
}

 td  {
    border-bottom: 1px solid #dddd;
    height: 40px;
}

tr:nth-child(even) {
    background-color: #dbdbdb;
    height: 40px;
}


table, th, td {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9;

}