@font-face {
    font-family: 'inter-font';
    src: url('../../../assets/fonts/inter-font.ttf');
}


.page-consulta-usu {
    display: flex;
    flex-direction: row;
    width: auto;


        .aba-lateral-usu{
            position: fixed;
        }

        .cabecalho-usu{
            width: 900px;
        }

        .elemento-cabecalho{
            width: 100%;
        }

        .pesquisa-e-busca{
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 0px 15%;
            margin: 20px 0px 0px 0px;
        }

        .area-da-consulta-usu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .categoria-e-tipo{
            background-color: #fff;
            width: 15%;
            height: 800px;
            margin: 20px 0px 0px 20px;
            border-radius: 10px;
            padding: 10px 15px;
        }

        .titulo-categoria{
            font-family: 'inter-font';
            font-size: 30px;
            font-weight: bolder;
        }

        .titulo-tipo{
            margin-top: 20px;
            font-family: 'inter-font';
            font-size: 30px;
            font-weight: bolder;
        }

        .opcao-tipo-categoria{
            font-family: 'inter-font';
            line-height: 40px;
            font-size: 20px;
            font-weight: 600;
            
        }

        .cada-titulo{
            opacity: 0.5;
            cursor: pointer;
            width: auto;
        }

        .cada-titulo:hover{
            opacity: 1;
        }

        .parte-da-consulta{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 10px;
            background-color: #fff;
            border-radius: 10px;
            width: 80%;
        }

        .resultados{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 10px 20px 10px;
            width: 90%;
            font-family: 'inter-font';
            font-weight: bold;
        }

        .resultado-valor{
            color: #999;
        }

        .elementos-consulta-usu {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #f0f0f0;
            padding-left: 100px;
        }

        .input-pesquisa-usu {
            width: 83%;
            border: none;
            border-radius: 0.8rem;
            font-family: inherit;
            color: inherit;
            padding: 14px;
            background-color: white;
            font-size: 15px;
        }


        .botao-buscar-usu{
            background-color: #55F27F;
            border-style: none;
            border-radius: 10px;
            width: 200px;
            color: #fff;
            font-family: 'inter-font';
            font-size: 15px;
            margin-left: 5%;
            cursor: pointer;
        }

        .botao-buscar-usu:hover{
            transform: scale(1.05);
            box-shadow: 0px 0px 40px #55F27F, 0px 0px -10px rgba(255, 255, 255, 1);
            border:#55F27F solid 3px;
            background-color: #fff;
            color: #000;
            transition: 0.5s;
        }

        .botao-buscar-usu:active{
            transform: scale(0.99);
            transition: 0s;
        }


        .cards-produto-usu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 85%;
            height: auto;
            padding-bottom: 20px;
        }

        hr{
            color: #000;
            width: 90%;
            margin: 20px 0px;
        }

        @font-face {
            font-family: 'inter-font';
            src: url('../../../assets/fonts/inter-font.ttf');
        }



        .caixinha-produto-usuario {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            margin-left: 2%;
            transition: 0.5s;
            width: 250px;
            cursor: pointer;
        }

        .caixinha-produto-usuario {
            transform: scale(1.05);
            transition: 0.5s;
        }

        .caixinha-produto-usuario {
            transform: scale(1.0);
            transition: 0.1s;
        }


        .espaco-produto {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            height: 450px;
            width: 250px;
            border-radius: .3em;
            border: 1px solid rgba(0, 0, 0, 0.13);
            box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: white;
        }

        .imagem-coracao{
            height: 20px;
            width: 20px;
            margin: 10px 0px 0px 10px;
            opacity: 0.5;
        }

        .imagem-coracao:hover{
            opacity: 1;
        }

        .descricao-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }

        .ImagemProduto{
            width: 80%;
            height: 43%;
        }

        .card-produto-descricao{
            font-family: 'inter-font';
            font-size: 16px;
            width: 70%;
            margin-top: 60px;
        }

        .preco-card{
            font-size: 20px;
            color: #01BE01;
            font-family: 'inter-font';
            font-weight: bold;
            margin-top: 10px;
        }

        .imagem-carrinho{
            height: 20px;
            width: 20px;
        }

        .botao-comprar{
            display: flex;
            justify-content: space-around;
            font-size: 19px;
            color: #fff;
            align-items: center;
            background-color: #318CE7;
            border-style: none;
            width: 150px;
            height: 40px;
            border-radius: 10px;
            margin-top: 20px;
        }

        .botao-comprar:hover{
            background-color: #fff;
            color: #318CE7;
            border: #318CE7 solid 2px;
            transition: 0.1s;
            cursor: pointer;
            .imagem-carrinho{
            filter: invert(100%);
        }
    }
}